
* {
    color: black;
    scroll-snap-type: y mandatory;
}
a, i{
    transition: .5s;
    text-decoration: none;
    color: black;
}


#header{
    height: 150px;
}

#main{
    margin-top: 10px;
    padding: 10px;
    width: 380px;
    margin-bottom: 50px;
}

#caixa-login{
    border: 2px solid black;
    height: 420px;
    padding: 10px;
    margin: 0;
    border-radius: 25px;
    background-color: aliceblue;
}

.col,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10{
    height: 80%;
    margin: 0;
}

#btn-entrar{
    width: 150px;
}

#rodape{
    position: absolute;
    bottom: 0;

}

#area-meio{
    margin: 0;
    padding: 10px;
    height: 65vh;
    background-color: #729ee0;
}
#painel{
    padding: 5px;
}
#painel1{
    padding: 5px;
    border-radius: 10px;
    background-color: #3c3c3c;
    border: solid 1px;
    height: 61vh;
}
#painel2{
    padding: 20px;
    border-radius: 10px;
    background-color: #3c3c3c;
    scroll-snap-align: start;
    height: 61vh;
    margin-left: 5px;

}
#area{
    background-color: #ffffff;
    border-radius: 10px;
}
#item-menu{
    height: 50px;
    background-color: gray;
    padding: 10px;
    margin: 3px;
    font-weight: bold;
    border-radius: 5px;
}
#item-menu:hover{
    background-color: #ffffff;
}

.Cabecalho {
    color: white;
}

.mb-2 {
    margin-bottom: 2rem;
    margin-right: 10rem;
}

.form-label{
  color: aliceblue;
}