
* {
    color: black;
    scroll-snap-type: y mandatory;
}
a, i{
    transition: .5s;
    text-decoration: none;
    color: black;
}
/*
#fundo_pagina{
    background-image: url(../imagens/bacck2mauri.png);
    background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
}
*/
#header{
    height: 100px;
    padding: 10px;
}
#logo{
    width: 130px;
    margin-left: 110px;
}
#titulo_pagina{
    width: 200px;
    margin-left: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 58px;
    font-weight: bold;
    text-shadow: gray;
}

#main{
    margin-top: 10px;
    padding: 10px;
    width: 300px;
}

#caixa-login{
    border: 2px solid black;
    height:auto;
    padding: 10px;
    margin: 0;
    border-radius: 25px;
    background-color: aliceblue;
}

.col,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10{
    height: 80%;
    margin: 0;
}

#btn-entrar{
    width: 150px;
    margin-top: 20px;
}

#rodape{
    position: absolute;
    bottom: 0;
}

#area-meio{
    margin: 0;
    padding: 0px 10px 10px 10px;
    height: auto;
    background-color: none;
    
}

#painel{
    padding: 20px;
    height: 80vh;
}

#painel1{
    padding: 5px;
    border-radius: 10px;
    background-color: #3c3c3c;
    opacity:90%;
    border: solid 1px #ffffff;
    height: auto;
    width: 15%;
}
#painel2{
    padding: 20px;
    border-radius: 10px;
    background-color: #3c3c3c;
    opacity:90%;
    scroll-snap-align: start;
    height: auto;
    border: solid 1px #ffffff;
    margin-left: 10px;

}

.area_p2{
    background-color:red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#area{
   /* background-color: #ffffff; */
    border-radius: 10px;
}
#item-menu{
    height: 50px;
    background-color: #bdbdbd;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}
#item-menu:hover{
    background-color: #ffffff;
}

.Cabecalho {
    color: #bdbdbd;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

/* Configuração das páginas incluidas no painel 2 */

.display-titulo{
    width: 50%;
}

.ct-1 {
    margin-bottom: 2rem;
    margin-right: 10rem;
    width: 20%;
}

.form-label{
  color: aliceblue;
}

.ct-2 {
    margin-bottom: 2rem;
    margin-right: 10rem;
}

.ct-3 {
    margin-bottom: 2rem;
    margin-right: 10rem;
}

.lb-titulo{
  color: white;
  margin-left: 23px;
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.form-label {
  color: aliceblue;
}

.error {
  color: red;
}
